.imagem-fundo {
	background-image: url(img/header-bg.jpg);
	background-position: center center;
	background-size: cover;
	height: 100vh;
}

#logotipo-header {
	height: 30px;
}

.cor-principal {
	background-color: #212529;
}

.cor-branca {
	color: white !important;
}

.cor-cinza {
	color: #6c757d;
}

.cor-secundaria {
	background-color: #ffc800;
}

.cor-fundo {
	background-color: #e9ecef;
}

.fonte-principal {
	font-family: 'Montserrat', sans-serif;
}

.fonte-secundaria {
	font-family: 'Roboto Slab', serif;
}

.centralizar-div {
	padding-top: 16rem;
}

.tamanho-icone {
	height: 7.5rem;
	width: 8rem;
}

.alinhamento-vertical {
	padding-top: 7rem;
}

.card-posicao-imagem {
	object-fit: cover;
}

.tamanho-maximo-card {
	max-width: 25rem;
}

.tamanho-imagem {
	width: 8.5rem;
}

.tamanho-imagem-time {
	width: 13rem;
}

.cor-icone-rede-social {
	background-color: #212529;
}

.tamanho-icone-facebook {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.tamanho-icone-linkedin {
	padding-left: 0.65rem;
	padding-right: 0.65rem;
}

.borda-imagem-time {
	border: 0.4rem solid #ced4da;
}